.workspace-pane {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;
  overflow: auto;
  width: 100%;
  container-type: inline-size;
  container-name: workspace-pane;

  & .error {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    & .error_icon {
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 0.65rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--u-color_critical_action);

      & .icon {
        color: var(--u-color_critical_text-on-action);
        margin-bottom: 3px;
      }
    }
  }

  &:not(.workspace-pane_focused) {
    opacity: 0.65;
  }

  /* Focus indicator
  &.workspace-pane_focused::before {
    content: " ";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: var(--color-blue-2);
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--layer-beneath);
  }

  &.workspace-pane_focused::after {
    content: " ";
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem 0 0 0;
    background: var(--u-color_chrome_subdued);
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--layer-beneath);
  }
  &#workspace-pane_right.workspace-pane_focused::after {
    left: 1px;
  }

  &.workspace-pane_focused::before {
    content: " ";
    background: linear-gradient(
      to bottom,
      var(--u-color_chrome_selected),
      transparent
    );
    height: 15rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--layer-beneath);
  }

  &.workspace-pane_focused::before {
    background: linear-gradient(
      to bottom,
      var(--u-color_chrome_border),
      var(--u-color_chrome_border)
    );
    z-index: 2000;
    content: " ";
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  */
}
