.app-message {
  margin: 6rem auto;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  text-align: center;
  color: var(--u-color_info_text-on-element_subdued);
  font-size: 1.25rem;
  border-radius: var(--border-radius-base);
  padding: 2rem;
}

.app-message h2 {
  color: var(--u-color_text);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.app-message p {
  margin-bottom: 0;
}

.app-message code {
  margin-top: 0.25rem;
  color: var(--u-color_text_subdued);
  font-weight: bold;
}
