.app-error {
  margin: 6rem auto;
  width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  text-align: center;
  background: var(--u-color_critical_element_subdued);
  color: var(--u-color_critical_text-on-element_subdued);
  font-size: var(--font-size-base);
  border-radius: var(--border-radius-base);
  padding: 2rem;
  border: 1px solid var(--u-color_critical_border-on-element_subdued);
}

.app-error h2 {
  color: var(--u-color_critical_text-on-element);
  font-size: var(--font-size-large);
}

.app-error p {
  margin-bottom: 0;
}
