body {
  --c-window_control-bar_height: 2.5rem;
  background: var(--u-color_chrome_subdued);
  color: var(--u-color_text);
  display: grid;
  grid-template-rows: 
    var(--c-window_control-bar_height) 
    calc(100vh - var(--c-window_control-bar_height));
  user-select: none;
}

body:has(.window-footer) {
  grid-template-rows: 
    var(--c-window_control-bar_height) 
    calc(calc(100vh - var(--c-window_control-bar_height)) - var(--c-window_control-bar_height))
    var(--c-window_control-bar_height) 
}

.window-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: auto;
  font-size: var(--font-size-medium);
}

.window-control-bar {
  height: 2.5rem;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.window-control-bar-group {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.window-titlebar {
  padding-left: 4.5rem;
  border-bottom: 1px solid var(--u-color_chrome_border);
  background: var(--u-color_chrome_emphasized)
}

.window-titlebar.window-titlebar_transparent {
  border: 0;
  background: transparent;
}

.window-titlebar.window-titlebar_borderless {
  border: 0;
}

.window-titlebar.window-titlebar_transparent + .window-content {
  margin-top: -2.5rem;
  height: calc(100% + 2.5rem);
}

.window-sidebar {
  display: flex;
  position: relative;
  background: var(--u-color_chrome);
  font-size: var(--font-size-medium);
  overflow: auto;
  height: calc(calc(100vh - var(--c-window_control-bar_height)) - var(--c-window_control-bar_height));
  width: 100%;

  & .window-sidebar_inner-sidebar {
    padding: 1rem 1.125rem;
    -webkit-user-select: none;
    user-select: none;
  }
}

/* prevents a tiny white box in the corner that appears when both horizontal
 * and vertical scrollbars are visible */
.window-sidebar::-webkit-scrollbar-corner {
  background: transparent;
}

.window-sidebar_resize-handle {
  --c-window_sidebar_resize-handle_width: 0.5rem;
  height: 100%;
  transition: all 0.2s;
  cursor: col-resize;
  margin-left: 0;
  position: relative;
  width: 1px;

  & .window-sidebar_resize-handle_main-pane-side {
    height: 100%;
    width: var(--c-window_sidebar_resize-handle_width);
    border-left: 1px solid var(--u-color_chrome_border);
    position: absolute;
    z-index: var(--layer-floating-controls);
    top: 0;
    bottom: 0;
  }
}

.window-sidebar_resize-handle:hover .window-sidebar_resize-handle_main-pane-side {
  border-color: var(--u-color_focus-border);
}

.window-footer {
  border-top: 1px solid var(--u-color_chrome_border);
  background: var(--u-color_chrome);
}
