.command-palette {
  & .command-palette-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: var(--border-radius-base);

    &.selected {
      background: var(--u-color_element_selected);
    }

    & .command-palette-item_left-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: var(--font-size-medium);
      color: var(--u-color_text);
      gap: 0.5rem;

      & .icon {
        color: var(--u-color_icon_subdued);
      }
    }
  }
}
