#welcome-screen_window-content {
  flex-direction: column;
  display: flex;

  & .welcome-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem 0.5rem 1rem;
    background: var(--color-gray-darken-10);
    border-bottom: 1px solid var(--u-color_border);
  }

  & .app-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    margin-bottom: 0.25rem;

    & h2 {
      color: var(--u-color_text);
    }

    & p {
      margin: 0;
    }

    & .app-icon {
      width: 4rem;
      height: 4rem;
    }

    & .unison-version {
      color: var(--u-color_text_very-subdued);
      font-size: var(--font-size-small);
    }
  }

  & .text-field {
    width: 16rem;
  }

  & .projects {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    overflow: auto;
  }

  & .project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
  }

  & .project-option .card {
    align-items: center;
    border: 1px solid var(--u-color_border_subdued);
    line-height: 1;
    font-size: var(--font-size-medium);
    justify-content: center;
    align-items: flex-start;
  }

  & .project-option:hover .card {
    background: var(--u-color_container_hovered);
    border-color: var(--u-color_border_hovered);
    cursor: pointer;
  }
}
