.workspace-card {
  --c-workspace-card_border: var(--u-color_border_subdued);
  --c-workspace-card_background: var(--u-color_container_faded);

  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  width: 100%;

  & .tab-list {
    --c-color_tabs_text: var(--u-color_text_very-subdued);
    --c-color_tabs_border: var(--color-card-border);
    --c-color_tabs_text_selected: var(--u-color_text_subdued);
    --c-color_tabs_border_selected: var(--u-color_border_emphasized);
    --c-color_tabs_text_hovered: var(--u-color_interactive);
    --c-color_tabs_border_hovered: var(--u-color_border_hovered);

    & .tab {
      font-weight: 600;
      font-size: var(--font-size-small);
    }
  }

  & .workspace-card_titlebar {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    height: 2.5rem;
    border-bottom: 1px solid var(--c-workspace-card_border);
    font-size: var(--font-size-medium);

    & .workspace-card_title {
      font-weight: bold;
    }
  }

  & .workspace-card_main-content {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0.75rem;
  }
}

.workspace-card.card {
  --color-card-bg: var(--c-workspace-card_background);
  --color-card-border: var(--c-workspace-card_border);
}

.workspace-card.workspace-card_has-focus {
  --c-workspace-card_border: var(--u-color_border);
  --c-workspace-card_background: var(--u-color_container_selected);

  & .tab-list {
    --c-color_tabs_border: var(--color-card-border);
  }
}
