.workspace-panes_resize-handle {
  width: 1.5rem;
  z-index: 1;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  height: 100%;
  cursor: col-resize;
  position: relative;
}

.workspace-panes_resize-handle::before {
  position: absolute;
  top: 0;
  left: 0.75rem;
  bottom: 0;
  background: var(--u-color_chrome_border);
  width: 1px;
  content: "";
}

.workspace-panes_resize-handle:hover::before {
  background: var(--u-color_focus-border);
}
