@import "./css/unison-dark.css";
@import "./css/unison-light.css";
@import "./css/app-error.css";
@import "./css/app-message.css";
@import "./css/window.css";
@import "./css/ucm/search-project-sheet.css";
@import "./css/ucm/search-branch-sheet.css";
@import "./css/ucm/welcome-screen.css";
@import "./css/ucm/workspace-screen.css";
@import "./css/ucm/command-palette-modal.css";
@import "./css/ucm/ucm-connectivity.css";
@import "./css/ucm/contextual-tag.css";

/* prevents a tiny white box in the corner that appears when both horizontal
 * and vertical scrollbars are visible. <body> gets special treatment since's
 * transparent will be ontop of "nothing" and again show a white box. */
*::-webkit-scrollbar-corner {
  background: transparent;
}

body::-webkit-scrollbar-corner {
  background: var(--u-color_background);
}

.connecting {
  margin: 16rem auto;
  width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.button {
  app-region: no-drag;
}
